$btn-pad-std: 0.5em 1em;
$btn-border-radius: 0.4em; 
$font-stack: Helvetica, sans-serif;
$primary-color: #e0e0e0;
$secondary-color: #4d4d4d;
$neutral-color: #b3b3b3;
$accent-color: #800020;
$accent-color-2: lighten($accent-color, 20%);